@font-face {
  font-family: 'La Belle Aurore';
  src: url('assets/fonts/LaBelleAurore-Regular.eot');
  src: local('☺'), url('assets/fonts/LaBelleAurore-Regular.woff') format('woff'), url('assets/fonts/LaBelleAurore-Regular.ttf') format('truetype'), url('assets/fonts/LaBelleAurore-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  max-width: 100%;
  background: #b486727a;
  display: grid;
  grid-template-rows: 70px 1fr 100px;
  row-gap: 3px;
}
.header {
  width: 100%;
  background: #000000;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__welcome {
  margin: 0 30px;
  font-family: 'La Belle Aurore';
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0 3px 3px #ff0000;
}
.header__nav {
  display: flex;
}
.header__nav-list {
  display: flex;
  justify-content: right;

}
.header__nav-item {
  justify-content: space-between;
  margin: 0 30px;
  list-style-type: none;
}
.header__nav-item > a {
  text-decoration: none;
  font-family: 'La Belle Aurore';
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0 4px 3px #ff0000;
}
.header__nav-item > a:hover {
  color: #ff0000;
}
.header__nav-item > a:active {
  color: #ffffff;
}

.main {
  background: #af7222;
  display: flex;

}

.main__photo {
  width: 30%;
  margin: 15px 0 0 15px;
}

.main__text {

}

.main__text-name {
  margin-left: 50px;
  font-family: 'La Belle Aurore';
  font-size: 40px;
}

.main__text-items {
  margin-left: 50px;

  
}




.footer {
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer__a-img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 5px 10px #ff0000;
  margin-left: 20px;
}
.footer__year {
  font-family: 'La Belle Aurore';
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 3px 3px #ff0000;
  margin-right: 20px;
}